//Primary Color
$lightPrimary: #9dc88d;
$mediumPrimary: #4d774e;
$darkPrimary: #164a41;

//Secondary Color
$lightSecondary: #f1ce95;
$mediumSecondary: #f1b24a;
$darkSecondary: #d69326;

//Completmentary Color
$lightComplementary: #ffffff;
$mediumComplementary: #d3d3d3;
$darkComplementary: #838383;
