@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

.heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu-bttn-div {
  display: none;
}

nav {
  background-color: #4d774e;
  max-height: 100%;
}

nav div.wrapper {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div.wrapper .logo {
  display: inline;
  margin-right: auto;
  max-width: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  color: #9dc88d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #f1b24a;
}

.heading-medium {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
}

.page-heading {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-weight: 800;
}

.bold-weight {
  font-weight: 800;
}

#intro-section {
  height: 75vh;
  background-color: #9dc88d;
  background-image: url(../images/shirt-model.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
}

#intro-section #intro-text {
  font-size: 125px;
  font-weight: 300;
  margin: 0px;
  text-overflow: ellipsis;
  max-width: 700px;
  padding-bottom: 50px;
  color: #ffffff;
}

#about-section {
  min-height: 50vh;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

#about-section button {
  cursor: pointer;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.75em;
  font-weight: 400;
  color: #d69326;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  min-width: 50px;
  border: none;
  background-color: white;
  color: #d69326;
  margin-right: auto;
}

#about-section button:hover {
  color: #ffffff;
  background-color: #9dc88d;
}

#about-section .body-copy {
  margin: 0;
}

#about-section div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-section div.wrapper .twoCol {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 2%;
}

#about-section div.wrapper .twoCol h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  margin: 0;
  padding: 0;
  color: #4d774e;
}

#about-section div.wrapper span.accent-text {
  color: #f1ce95;
  font-style: italic;
}

#featured-products-section {
  min-height: 50vh;
  background-color: #f1b24a;
  padding-bottom: 30px;
}

#featured-products-section .heading-medium {
  color: #ffffff;
}

#featured-products-section button {
  cursor: pointer;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.75em;
  font-weight: 400;
  color: #d69326;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  min-width: 50px;
  border: none;
  background-color: white;
}

#featured-products-section button:hover {
  color: #ffffff;
  background-color: #9dc88d;
}

#featured-products-section #featured-products-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#featured-products-section #featured-products-div .product-thumb {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #9dc88d;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#featured-products-section #featured-products-div .product-thumb:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#featured-products-section #featured-products-div #product-thumb1 {
  background-image: url("../images/projects/product1-CROP.png");
}

#featured-products-section #featured-products-div #product-thumb2 {
  background-image: url("../images/projects/product2-CROP.png");
}

#featured-products-section #featured-products-div #product-thumb3 {
  background-image: url("../images/projects/product3-CROP.png");
}

#featured-products-section #featured-products-div #product-thumb4 {
  background-image: url("../images/projects/product4-CROP.png");
}

#featured-products-section #featured-products-div #product-thumb5 {
  background-image: url("../images/projects/product5-CROP.png");
}

#featured-products-section #featured-products-div #product-thumb6 {
  background-image: url("../images/projects/product6-CROP.png");
}

#capabilities-section {
  min-height: 25vh;
  background-color: #9dc88d;
  padding-bottom: 50px;
}

#capabilities-section #capabilities-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#capabilities-section #capabilities-div .capability-heading {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-weight: 800;
  padding: 0;
  font-size: 20px;
  color: #4d774e;
}

#capabilities-section #capabilities-div .capability-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}

#capabilities-section #capabilities-div .center-item {
  border-left: 1.5px solid #4d774e;
  border-right: 1.5px solid #4d774e;
}

#contact-section {
  min-height: 50vh;
  background-color: #4d774e;
  padding-bottom: 30px;
}

#contact-section .heading-medium {
  color: #ffffff;
}

#contact-section .body-copy {
  color: #ffffff;
  font-weight: 100;
  max-width: 700px;
}

#contact-section ::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #164a41;
}

#contact-section :-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #164a41;
}

#contact-section ::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #164a41;
}

#contact-section ::placeholder {
  font-family: "Poppins", sans-serif;
  color: #164a41;
}

#contact-section #form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-section #form-div #contact-form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact-section #form-div #contact-form input[type="text"] {
  background: #9dc88d;
  border: none;
  padding: 10px 10px;
  margin: 10px;
  min-width: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact-section #form-div #contact-form input[type="text"]:focus {
  outline: none;
}

#contact-section #form-div #contact-form textarea {
  background: #9dc88d;
  border: none;
  padding: 10px 10px;
  margin: 10px;
  width: 100%;
}

#contact-section #form-div #contact-form textarea:focus {
  outline: none;
}

#contact-section #form-div #contact-form #submit-bttn-div {
  margin: 0 auto;
}

#contact-section #form-div #contact-form #submit {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #9dc88d;
  background-color: transparent;
}

#contact-section #form-div #contact-form #submit:hover {
  background: #f1b24a;
}

#team-members-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

#team-members-div .team-member {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3%;
}

#team-members-div .team-member .portrait {
  width: 150px;
  -webkit-clip-path: circle(75px at center);
          clip-path: circle(75px at center);
  margin: 0 auto;
}

#team-members-div .team-member .name {
  padding-top: 10px;
  margin: 0 auto;
}

#team-members-div .team-member .bio {
  margin-top: 10px;
}

select {
  margin-bottom: 30px;
}

#projects-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects-div .project {
  background-color: #f1ce95;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 200px;
  min-width: 200px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-size: cover;
}

#projects-div .project img {
  height: 100%;
  width: 100%;
}

#projects-div .project:hover {
  cursor: pointer;
}

#about-us-hero {
  background-size: cover;
  height: 50vh;
}

#about-us-div {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-us-div .twoCol {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about-us-div #headshot-div {
  background-image: url(../images/shirley-headshot.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2%;
}

#about-us-div p.body-copy {
  margin: 0px;
  text-overflow: ellipsis;
  max-width: 700px;
  padding-bottom: 20px;
}

footer {
  background-color: #4d774e;
}

footer div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

footer div.wrapper .footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div.wrapper .footer-col .footer-contact-info {
  font-size: 16px;
  color: #9dc88d;
}

footer div.wrapper #footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer div.wrapper #footer-menu li {
  padding: 0px 20px;
}

footer div.wrapper #footer-menu li a {
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  color: #9dc88d;
}

footer div.wrapper #footer-menu li a:hover {
  color: #ffffff;
}

@media only screen and (max-width: 400px) {
  .wrapper {
    margin: 0 auto;
    width: 85%;
  }
  #mobile-menu-bttn-div {
    background-color: #4d774e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #mobile-menu-bttn-div .logo {
    max-width: 90px;
    margin-left: 30px;
  }
  #mobile-menu-bttn-div #mobile-menu-bttn {
    margin: 30px;
    background: none;
    border: none;
  }
  #mobile-menu-bttn-div #mobile-menu-bttn img {
    max-width: 30px;
  }
  nav {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  nav div.wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0px;
  }
  nav div.wrapper .logo {
    display: none;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    padding: 5px 20px;
  }
  .heading-medium {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 50px 0px;
    margin: 0;
    padding: 30px 0px;
    font-size: 20px;
  }
  #intro-section {
    background-size: cover;
  }
  #intro-section #intro-text {
    font-size: 70px;
    max-width: 75%;
  }
  #about-section {
    padding: 15px 0px;
  }
  #about-section .body-copy {
    font-size: 16px;
    line-height: 1.5em;
  }
  #about-section div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 28px;
    padding-top: 20px;
  }
  #about-section div.wrapper .accent-text {
    font-size: 14px;
  }
  #featured-products-section button {
    font-size: 0.5em;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: unset;
    width: 50%;
    height: 150px;
  }
  #capabilities-section {
    padding-bottom: 15px;
  }
  #capabilities-section #capabilities-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #capabilities-section #capabilities-div .capability-heading {
    font-size: 12px;
  }
  #contact-section #form-div #contact-form {
    width: 100%;
  }
  #team-members-div .team-member {
    padding-right: 0;
    min-width: 300px;
    border-bottom: 1.5px solid #f1b24a;
  }
  #team-members-div .team-member .portrait {
    margin-top: 30px;
  }
  #projects-div .project {
    height: 200px;
    min-width: 200px;
  }
  footer div.wrapper {
    padding-bottom: 30px;
  }
  footer div.wrapper .footer-col .footer-contact-info {
    font-size: 12px;
    color: #9dc88d;
  }
  footer div.wrapper #footer-menu li {
    padding: 0px 20px;
    line-height: 0.7em;
  }
  footer div.wrapper #footer-menu li a {
    font-size: 10px;
  }
}

@media only screen and (min-width: 501px) {
  #about-section .body-copy {
    font-size: 20px;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 40px;
  }
  #featured-products-section {
    min-height: 50vh;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: 350px;
    min-height: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #capabilities-section {
    padding-bottom: 0px;
  }
  #capabilities-section .capability-heading {
    font-size: 12px;
  }
  #contact-section {
    min-height: 30vh;
  }
  #contact-section #form-div #contact-form {
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  #about-section .body-copy {
    font-size: 20px;
    line-height: 1.4em;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 50px;
    letter-spacing: 0.1em;
  }
  #about-section div.wrapper .accent-text {
    color: #d69326;
    font-style: italic;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: 400px;
    height: 310px;
  }
  #capabilities-section {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */